.gefyra {
  display: flex;
  flex-direction: column;
  border-radius: 15px;
  background: var(--color-footer);
  height: 100%;
  border-radius: 27px;
  /* background: #ffffff;
  box-shadow: 9px 9px 18px #e4e4eb, -9px -9px 18px #ffffff; */
}
/* transparent
  .gefyra {
    display: flex;
    flex-direction: column;
    border-radius: 15px;
    padding: 2rem;
    background: var(--color-transparent);
    box-shadow: 0px 25px 45px rgba(0, 0, 0, 0.1);
    border: 1px solid rgba(255, 255, 255, 0.5);
    border-right: 1px solid rgba(255, 255, 255, 0.2);
    border-bottom: 1px solid rgba(255, 255, 255, 0.2);
    backdrop-filter: blur(0.5);
    z-index: 10;
  } */

.gefyra-feature {
  display: flex;
  min-height: 100vh;
}

/* Customizing feature component as per needs */
.gefyra-feature .gefyra__features-container__feature {
  margin: 0;
}

/* Customizing feature component as per needs */
.gefyra-feature .gefyra__features-container_feature-text {
  max-width: 700px;
}

.gefyra-heading {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin: 6rem 0 2rem;
}

.gefyra-heading h1 {
  font-size: 34px;
  line-height: 45px;
  font-weight: 800;
  font-family: var(--font-family);
  padding-bottom: 2rem;
}

.gefyra-heading p {
  font-family: var(--font-family);
  font-weight: 500;
  font-size: 16px;
  line-height: 30px;
  color: var(--color-subtext);
  cursor: pointer;
}

.gefyra-container {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  margin-top: 2rem;
}

/* Customizing feature component as per needs */
.gefyra-container .gefyra__features-container__feature {
  flex: 1;
  margin: 2rem;
  min-width: 450px;
  min-height: 550px;
  display: unset;
  flex-direction: column;
}

/* Customizing feature component as per needs */
.gefyra-container .gefyra__features-container_feature-text {
  margin-top: 0.5rem;
}

@media screen and (max-width: 850px) {
  .gefyra-heading {
    flex-direction: column;
    align-items: flex-start;
    margin-bottom: 0rem;
  }

  .gefyra-heading p {
    margin-top: 1rem;
  }
}

@media screen and (max-width: 650px) {
  .gefyra {
    margin: 2rem;
  }
  /* Customizing feature component as per needs */
  .gefyra-container .gefyra__features-container__feature {
    min-width: 300px;
  }

  /* Customizing feature component as per needs */
  .gefyra-feature .gefyra__features-container__feature {
    flex-direction: column;
  }

  /* Customizing feature component as per needs */
  .gefyra-feature .gefyra__features-container_feature-text {
    margin-top: 0.5rem;
  }

  .gefyra-heading h1 {
    font-size: 28px;
    line-height: 40px;
  }
}

@media screen and (max-width: 350px) {
  /* Customizing feature component as per needs */
  .gefyra-container .gefyra__features-container__feature {
    margin: 1rem 0;
    min-width: 100%;
  }
}
