@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@200;300;400;500;600;700;800&display=swap');

:root {
  --font-family: 'Manrope', sans-serif;

  --gradient-text: linear-gradient(89.97deg, #3c00ff 1.84%, #0b0197 102.67%);
  --gradient-bar: linear-gradient(103.22deg, #3c00ff -13.86%, #0b0197 99.55%);

  --color-bg: #d3d3d3;
  --color-footer: #c5c5c5;
  --color-blog: #042c54;
  --color-text: #00172e;
  --color-subtext: #000000;
  --color-secondary: #000000;
}
